[Unit]
Description=Pyronear Custom RAUC Good-marking Service
ConditionKernelCommandLine=|bootchooser.active
ConditionKernelCommandLine=|rauc.slot

After=network-online.target docker.service
Wants=network-online.target docker.service

FailureAction=reboot

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/check_provisioning.sh

[Install]
WantedBy=multi-user.target