[Unit]
Description=Preparation environnement PyroNear (Droits POSIX)
After=local-fs.target
Before=docker.service containerd.service pyro-engine.service

[Service]
Type=oneshot
ExecStart=/usr/bin/pyro-init.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target