[Unit]
Description=PyroEngine Application Start
After=docker.service network-online.target time-set.target
Wants=docker.service network-online.target time-set.target

# Docker compose file should exist
ConditionPathExists=/data/home/engine/docker-compose.yml

[Service]
Type=simple
Restart=on-failure
RestartSec=5
# Run as non-privileged 'engine' user for security hardening
User=engine
Group=engine
WorkingDirectory=/data/home/engine

# Main orchestration command: launch the containers
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down

[Install]
WantedBy=multi-user.target