[Unit]
Description=Auto-expand RootFS Partition on first boot
ConditionPathExists=!/data/.resized
After=local-fs.target
Before=pyro-init.service docker.service containerd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/expand-rootfs.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target