[Unit]
Description=Lancement automatique de PyroEngine avec rafraîchissement du Token
After=docker.service expand-rootfs.service
Wants=docker.service

[Service]
Type=oneshot
User=dev
Group=docker
WorkingDirectory=/home/dev/pyro-engine

ExecStartPre=/bin/sleep 5
ExecStartPre=/home/dev/pyro-engine/refresh_token.sh

ExecStart=/usr/bin/docker compose up -d
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target